/* 1200*640 */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.carousel-inner > .item > img {
    min-height: 500px;
  } 

/* 폰트 */
.display-4 {
    font-size: 24px
    !important;
}

/* main-menu */
a.nav-link.dropdown-toggle::after {
    display:none;
    /* 화살표삭제 */
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    /* hover시 메뉴드롭 */
}
.logo {
    width: 100px;
    color: white;
   /* 220*50, 150*34 */
}
